server:
    port: 8081
grails:
    mongodb:
        host: '{{ default .Env.OSMDA_MONGODB_HOST "osm_mongodb" }}'
        port: 27017
        databaseName: OsmDetailAnalysis # This HAS to be OsmDetailAnalysis at the moment. Otherwise the AssetRequestPersistanceService wont find any AssetRequestGroups.
    de:
        iteratec:
            osm:
                da:
                    initialApiKey: '{{ default .Env.OSMDA_INITIAL_API_KEY "myapikey" }}'
                    initialOsmUrl: '{{ default .Env.OSMDA_INITIAL_OSM_URL "http://localhost:8080" }}'
