server:
    port: 8081
grails:
    mongodb:
        host: '{{ default .Env.MONGODB_HOST "localhost" }}'
        port: 27017
        databaseName: osmDetailAnalysis
    de:
        iteratec:
            osm:
                da:
                    initialApiKey: '{{ default .Env.INITIAL_API_KEY "myapikey" }}'
                    initialOsmUrl: '{{ default .Env.INITIAL_OSM_URL "http://localhost:8080" }}'
