/*
*= require_tree ../bower_components/dcjs
*= require_tree ../bower_components/datatables.net-dt
*/
.global.loadingIndicator{
    position:absolute;
    left:50%;
    top:50%;
}

.loadingIndicatorTable{
    position:absolute;
    left:50%;
    margin-top: 200px;
}
.dc-chart .pie-slice {
    fill: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.dc-chart g.row text {
    fill: black;
}

.dc-chartContainer {
    max-height: 550px;
    width: 100%;
}

.rect.placeholder{
    float:left;
    height: 700px; /* or whatever you want */
    position:relative;
    width: 500px;
}

table.dataTable thead .sorting { background: url('/assets/bower_components/datatables.net-dt/images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('/assets/bower_components/datatables.net-dt/images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('/assets/bower_components/datatables.net-dt/images/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('/assets/bower_components/datatables.net-dt/images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('/assets/bower_components/datatables.net-dt/images/sort_desc_disabled.png') no-repeat center right; }

.rowChartContainer {
    max-height: 200px;
    overflow-y: auto;
}
.dc-data-count {
    width: 50%;
    height: 60px;
}

.pieChartDiv.dc-chart{
    float: none;
}

#dc-data-count {
    float: none;
}

.dcControls {
    text-align: center;
    min-width: 340px;
}
#host-chart{
    float: none;
}
#hostChartContainer{
    margin: 0 auto;
    max-height: 337px;
}