server:
    port: 8081
grails:
    serverURL: "http://localhost:8081/"
    de:
        iteratec:
            osm:
                da:
                    apiKeys:
                        list:
                        -   key: abc
                            osmUrl: "http://localhost:8080"