server:
    port: 8081
grails:
    serverURL: "http://localhost:8081/"
    de:
        iteratec:
            osm:
                da:
                    apiKeys:
                        list:
                        # apiKeys for openspeedmonitor-instances.
                        # if key contains special characters it must be quoted with single quotes, e.g. 'key$%/'. It must NOT be quoted with ""!
                        -   key: abc
                            osmUrl: "http://localhost:8080"