server:
    port: 8081
grails:
    serverURL: "http://localhost:8081/"
    de:
        iteratec:
            osm:
                da:
                    report.external:
                        graphiteServer:
                            serverAddress: [your.graphites.carbon.url, e.g. my.graphite.com]
                            carbonPort: [your graphites carbon port, e.g. 2003]
                    apiKeys:
                        list:
                        # apiKeys for openspeedmonitor-instances.
                        # if key contains special characters it must be quoted with single quotes, e.g. 'key-123'. It must NOT be quoted with ""!
                        # apiKey should only have alphanumerical characters and dashes [a-zA-Z0-9\-]+
                        -   key: abc
                            osmUrl: "http://localhost:8080"